@model DetailsViewModel

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.FullName</h5>
        @*<p> @Model.Size </p>
            <p> @Model.SizeString </p>*@

    <form asp-action="DownloadFile" asp-controller="Download" method="post" enctype="multipart/form-data">
        <div style="display:flex;height:50px">
            <p> Choose file type </p>
            <select asp-for="@Model.Format" style="height:initial">
                <option disabled selected>Choose..</option>
                <option>@FileType.Mp3</option>
                <option>@FileType.Mp4</option>
            </select>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>

        <input type="hidden" asp-for="@Model.FilePath" />
        <input type="hidden" asp-for="@Model.Link" />
        <input type="hidden" asp-for="@Model.Resolution" />
        <input type="hidden" asp-for="@Model.FullName" />


        <button style="margin:20px 0 0 0" type="submit" class="btn btn-primary">Download</button>
    </form>
        <a asp-action="SearchFile" asp-controller="Download" class="btn btn-primary">Convert next</a>
    </div>
</div>