@model DetailsViewModel

<div class="card" style="width: 300px;">
    <div class="card-body">


        <div class="card" id="mainCard">

            <div class="card-body">
                <h5 class="card-title">  <b> @Model.FullName </b><br></h5>
                <p class="card-text">
                    @Model.FilePath<br>
                    @Model.Size.ToString("N0")
                </p>

                <form asp-action="DownloadPhysical" asp-controller="Download" method="get" enctype="multipart/form-data">

                    <select asp-for="@Model.Format">
                        <option disabled selected>Choose..</option>
                        <option>@FileType.Mp3</option>
                        <option>@FileType.Mp4</option>

                    </select>
                    <input type="hidden" asp-for="@Model.FullName" />

                    <button type="submit" class="btn btn-primary">Download to disc</button>

                </form>
                 
                   

                    @*<a asp-action="DownloadPhysical" asp-controller="Download" asp-route-fileName="@Model.FullName"  asp-route-fileType="@Model.Format" class="btn btn-primary">Download to disc</a>*@
                 


            </div>
        </div>

        <a asp-action="SearchFile" asp-controller="Download" class="btn btn-primary">Convert next</a>
    </div>
</div>

